  header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 10rem;
    max-width: 750px;
    height: 35px;
  }
  header  .top-menu {
    position: relative;
    height: 35px;
    background-color: #f4f5f6;
    overflow-y: hidden;
  }
  header  .top-menu:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: -webkit-linear-gradient(
      top,
      transparent,
      transparent 40%,
      #ddd 0
    );
    background-size: 100% 1px;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  header  .top-menu-list {
    overflow: hidden;
    overflow-x: scroll;
    /* // margin-right: 40px; */
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  header  .top-menu-list  li {
    font-size: 14px;
    line-height: 25px;
    display: inline-block;
    height: 25px;
    margin: 5px 0 5px 5px;
    padding: 0 10px;
    -webkit-animation: fadeout 0.4s;
    animation: fadeout 0.4s;
    vertical-align: top;
    white-space: nowrap;
    color: #999999;
    text-decoration: none;

  }
  header  .top-menu-list .activeClass {
    color: #d4221c;
    font-size: 16px;
    position: relative;
    font-weight: bold;
  }
  header .top-menu .top-menu-list::-webkit-scrollbar {
    display: none;
  }
  .news-wrap{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    padding: 10px 0px;
    height: 75px;
    overflow: hidden;
}
.img-wrap{
    width:33%;
    height: 75px;
    margin-left: 10px;
    margin-right: 10px;
}
.img-wrap img{
    width: 100%;
    height: 100%;
}
.txt-wrap{
    width: 67%;
    height: 75px;
    margin-right: 12px;  
    position: relative;
}
.txt-wrap h3{
    font-size: 15px;
    line-height: 1.2em;
    overflow: hidden;
      
    height: 38px;
    color: #222222;
    font-weight: 800;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.txt-wrap p{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
.txt-wrap p .tag-view {
    padding-right: 2px; 
    font-family: PingFang-SC-Medium;
}
.tags {
    position: absolute;
    bottom: 0;
    color: #999999;
    overflow: hidden;
    font-size: 12px;
    font-family: PingFang-SC-Medium;
}