  header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 10rem;
    max-width: 750px;
    height: 35px;
  }
  header  .top-menu {
    position: relative;
    height: 35px;
    background-color: #f4f5f6;
    overflow-y: hidden;
  }
  header  .top-menu:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: -webkit-linear-gradient(
      top,
      transparent,
      transparent 40%,
      #ddd 0
    );
    background-size: 100% 1px;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  header  .top-menu-list {
    overflow: hidden;
    overflow-x: scroll;
    /* // margin-right: 40px; */
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  header  .top-menu-list  li {
    font-size: 14px;
    line-height: 25px;
    display: inline-block;
    height: 25px;
    margin: 5px 0 5px 5px;
    padding: 0 10px;
    -webkit-animation: fadeout 0.4s;
    animation: fadeout 0.4s;
    vertical-align: top;
    white-space: nowrap;
    color: #999999;
    text-decoration: none;

  }
  header  .top-menu-list .activeClass {
    color: #d4221c;
    font-size: 16px;
    position: relative;
    font-weight: bold;
  }
  header .top-menu .top-menu-list::-webkit-scrollbar {
    display: none;
  }